<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <header>Maybe Some Nav Stuff?</header>

    <h1> Hello Someone!</h1>
    <h2>Importance</h2>
    <form action="/weights" method="post">
      <table>
        <tbody>
          <tr>
            <td>first category</td>
            <td class="slider">weight</td>
            <td class="importance">importance</td>
          </tr>
        </tbody>
      </table>
      <input type="submit" name="submit" value="Find Borough" />
    </form>
  </body>
</html>